/*
Author: Antti Ranta
Date: 09.10.2025
*/
body {
  font-family: Arial, sans-serif;
  background-color: gray;
  text-align: center;
}

h1, h2 { /*ryhmä */
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h3 {
  color: black;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

p {
  color: white;
  font-size: 30px;
}

.box { /* luokka1 */
  background-color: red;
  font-size: 30px;
  font-family: cursive;
  
}

.highlight { /* luokka2 */
  background-color: blue;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


ul li { /* lista item */
  font-size: 24px;
  list-style: square;
  margin: 10px;
  list-style-position: inside;
}

img { /* kuva */
  display: block;
  margin: auto;
}

#special-message { /*id */
  color: aqua;
  font-size: 30px;
  padding: 20px;
}

a[target="_blank"] { /*linkki target */
  background-color: white;
  font-size: 30px;
}

img[alt="WS3Schools"] { /* kuva [alt] */
  border: 1px yellow;
  border-radius: 50%;
  box-shadow: black
}
